h1 {
  color: rgb(3, 3, 131);
}
ul {
  gap: 15px;
}
a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}
button {
  background-color: #007aff;
}
header {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
a:hover {
  color: blueviolet;
}
h2 {
  color: darkgreen;
  font-size: 28px;
}
